* {
  box-sizing: border-box;
}

.sign-in-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1{
  font-size: 4em;
  font-weight: 200;
  text-align: center;
  line-height: 1;
}

.tip {
  margin-bottom: 16px;
  text-align: center;
}

form {
  width: 450px;
  background-color: #f1f1f1;
  padding: 50px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

input {
  display: block;
  width: 100%;
  padding: 16px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  margin: 0 0 16px 0;
  font-size: 20px;
  border-left: 2px solid transparent;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}

input.ng-invalid.ng-touched {
  border-left: 2px solid red;
}

.input-errors {
  color: red;
  margin: 0 0 16px 0;
  padding: 0 0 0 16px;
  font-size: 20px;
}

button {
  display: block;
  background-color: rgba(0,0,0, 0.15);
  width: 100%;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 64px;
}

.sign-in-error {
  color: red;
  padding: 16px 0;
  font-size: 20px;
  text-align: center;
}
