<section class="main" *ngIf="checks.length > 0">
  <ul class="check-list">
    <li *ngFor="let check of checks" [class.completed]="check.complete">
      <app-check-list-item
        [check]="check"
        (toggleComplete)="onToggleCheckComplete($event)"
        (remove)="onRemoveCheck($event)"></app-check-list-item>
    </li>
  </ul>
</section>
