<header class="header">
  <h1>QA Checklist</h1>
  <button>
    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M400 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm-32 252c0 6.6-5.4 12-12 12h-92v92c0 6.6-5.4 12-12 12h-56c-6.6 0-12-5.4-12-12v-92H92c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h92v-92c0-6.6 5.4-12 12-12h56c6.6 0 12 5.4 12 12v92h92c6.6 0 12 5.4 12 12v56z"></path></svg>
  </button>
  <input
    class="new-check"
    placeholder="What needs to be done?"
    autofocus
    [(ngModel)]="newCheck.title"
    (keyup.enter)="addCheck()"
  >
  <select class="new-list new-list--add">
      <option value="psl">PSL</option>
      <option value="library">Library</option>
      <option value="adaptavist">Adaptavist.com</option>
  </select>
</header>
