<section class="checkapp">
  <app-check-list-header
    (add)="onAddCheck($event)"
  ></app-check-list-header>
  <app-check-list
    [checks]="checks"
    (toggleComplete)="onToggleCheckComplete($event)"
    (remove)="onRemoveCheck($event)"
  ></app-check-list>
  <app-check-list-footer
    [checks]="checks"
  ></app-check-list-footer>
</section>
<button (click)="doSignOut()">Sign out</button>
