button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 20px;
  cursor: pointer;
  background-color: #2fbdfb57;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
