<div class="view">
  <input class="toggle" type="checkbox" (click)="toggleCheckComplete(check)" [checked]="check.complete">
  <label>{{check.title}}</label>
  <button class="destroy" (click)="removeCheck(check)"></button>
</div>
